/*code by Giovanni Zambotti - April 2020*/

html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: "Gotham", Sans-serif;
}

.esri-view-height-xsmall .esri-ui-corner .esri-legend {
    max-height: 440px;
}

#alert_placeholder{
  display: hide;  
 }

.close:before {
  position: relative;	
  content: '✕';
  top: -2px;
  right: 0px;
  cursor: pointer;
  font-size: 14px;
  color: #828282;
}

img{
  padding-top:10px;
}

ul{
  margin:0;
  list-style-position: inside;
    padding-left:0;
}

.esri-popup__content {
    display: flex;
    flex-flow: column nowrap;
    margin: 15px;
    flex: 1 1 auto;
    font-size: 14px;
    font-weight: 400; 
    overflow: auto;
    overflow-x: hidden;
    color: #000;
}

.esri-popup__content p {
    font-size: 14px;
    line-height: 1.3em;
    margin: 0 0 1.2em;
    margin-top: 10px;
    color: #000;
}


.modal-content{
    -webkit-box-shadow: 10 5px 15px rgba(20,20,20,20);
    -moz-box-shadow: 10 5px 15px rgba(20,20,20,20);
    -o-box-shadow: 10 5px 15px rgba(20,20,20,20);
    box-shadow: 10 5px 15px rgba(20,20,20,20);
}

.esri-attribution__link{
    font-weight: bold;
    text-decoration: underline;
    background: rgba(255,255,255,0.7);
}

.calcite-panels.calcite-text-dark .panel .calcite-panels .panel-body {
    color: #000000;
}

#infoRegions {
    color: #000000;
}

#infoBuildings {
    color: #000000;
}

#info_panel_body{
    color: #000000;
}

.esri-view-surface:focus{
    border-color: blue;
    border-style: solid;
    border-width: .5px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    color: #000;
}
.calcite-panels.calcite-text-dark .panel-heading, .calcite-panels.calcite-text-dark .panel-toggle, .calcite-panels.calcite-text-dark .panel-toggle:focus, .calcite-panels.calcite-text-dark .panel-toggle:hover {
    color: #000000;
}

.selectdivision1{ 
 margin-bottom: 3px;
}

#selectdivision2{
 margin-top: 15px;
}


